* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  overflow-x: hidden;
}
.left {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  /* width: 30vw; */
  width: max-content;
}
.right {
  /* width: calc(100vw - max-content); */
  /* min-width: fit-content; */
  height: 100vh;
  overflow: scroll;
}
.task-manager-table-wrapper {
  overflow: scroll;
  height: inherit;
}
.task-manager-table-date {
  position: sticky;
  top: 0;
}
.task-manager-table-date span {
  font-size: 1.4rem;
}
.calender {
  width: max-content;
}
.calender table {
  text-align: center;
  overflow: auto;
}

.calender table td,
.calender table th {
  padding: 1rem;
  cursor: default;
  border-radius: 0.2rem;
}
.todays-date {
  font-weight: bold;
}
.today {
  display: inline-block;
  width: fit-content;
  background-color: rgb(123, 101, 245);
  color: aliceblue;
  padding: 1rem;
  border-radius: 0.2rem;
}
[data-date]:hover:not(.today),
.active {
  background-color: rgb(64, 133, 223);
  color: aliceblue;
  transition: all 0.25s;
}
.calender button {
  padding: 0.5rem;
  background-color: #00000000;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.task-manager-month {
  font-size: 3rem;
  font-weight: lighter;
  padding: 2rem 0;
  cursor: default;
  position: relative;
  top: 0;
  /* left: 0; */
}
.task-manager table {
  border: 1px solid #a0a0a0;
  border-collapse: collapse;
  overflow: auto;
  width: max-content;
}
.task-manager table th,
.task-manager table td {
  padding: 2rem;
  width: 20rem;
  border: 1px solid #a0a0a0;
}
/* .task-manager table td {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
} */
.task-manager-time,
th {
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f0f6ff;
  /* color: #fff; */
  border: 1px solid #d0d0d0;
}
.task-manager tr td > span {
  /* margin: 1rem; */
  /* background-color: red; */
  width: max-content;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.task-manager table tr td input {
  width: max-content;
  outline: none;
  border: none;
}
.add-task-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #c0c0c0;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 1.4rem;
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%),
    0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
}
.add-task-div-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7b65f5;
  color: #fff;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}
.add-task-div-heading {
  font-size: 2.5rem;
  font-weight: bold;
  user-select: none;
}
.add-task-div-close-btn {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 1rem;
}
.add-task-div fieldset {
  border: none;
  background: #7b65f5;
  /* border-radius: 0 0 5px 5px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.add-task-div fieldset:nth-last-child(2) {
  border-radius: 0 0 5px 5px;
}
.add-task-div input,
.add-task-div textarea {
  width: 300px;
  height: fit-content;
  padding: 1rem;
  font-size: 1.4rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #aeaeae;
  border-radius: 5px;
  transition: border 0.25s ease-in-out;
  resize: vertical;
}
.add-task-div input:focus,
.add-task-div textarea:focus {
  border-bottom: 2px solid #7b65f5;
}
.add-task-div-done {
  background: #7b65f5;
  color: #fff;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  border: 1px solid #00000000;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.add-task-div-done:hover {
  background-color: #7b65f5;
  border: 1px solid #333;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  /* color: rgba(0, 0, 0, 0.65); */
  transform: translateY(0);
}
.add-task-div-done:active {
  /* border: 1px solid #7b65f5;
  box-shadow: inset 0px 0px 2px 2px #c0c0c06d; */
  border: 1px solid #333;
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
@media only screen and (max-width: 600px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .left {
    height: max-content;
  }
  .right {
    width: 95vw !important;
  }
  .task-manager table th,
  .task-manager table td {
    width: 5rem;
    max-width: fit-content;
    padding: 1rem;
  }
}
